.App {
  text-align: center;
}

.App-header {
  background-color: #005092;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  background: none;
  border: 2px solid #61dafb;
  color: #61dafb;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: all 0.3s ease;
}

.App-link:hover {
  background: #61dafb;
  color: #282c34;
}

