@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  height: 140px;
  background-color: #282c34;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.header-left {
  display: flex;
  align-items: center;
}

.header-logo {
  height: 230px;
  margin-right: 15px;
}

.header-title {
  font-size: 30px;
}

.header-menu {
  display: flex;
  align-items: center;
  height: 100%;
}
