@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

.header {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 95px;
  background-color: #282c34;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.header-logo {
  height: 185px;
  margin-right: 15px;
}

.header-title {
  font-size: 30px;
}
