.home-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 100%;
  background-color: #f0f4ff;
  padding: 60px 80px;
  gap: 40px;
  flex: 1;
}

.home-left {
  flex: 1;
  text-align: center;
}

.asignaturas-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 20px;
  justify-items: center;
}